{{/*
  jquery|if=~ie-gte-9: 2.0.3
  jquery|if=ie: 1.10.2
  bootstrap|fontawesome=4.0.3: 3.1.1
  styles: css/style.css
  scripts: js/site.js
  #analytics|nodebug: {{ @Config.Analytics }}
  include: buttons.html
*/}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Rainy Cape S.L.">
    <meta name="description" content="Governator provides features which are intended to help running applications developed by yourself, like automatic restarts, watchdogs and logging.">
    <title>Governator: An effective process manager for UNIX systems</title>
  </head>
  <body data-spy="scroll" data-target="#main-nav" data-offset="50">

    <a class="hidden-xs" href="https://github.com/rainycape/governator"><img style="z-index:150; position: fixed; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
    <div class="navbar navbar-default" role="navigation">
      <div class="site-masthead">
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse site-nav" id="main-nav">
            <ul class="nav navbar-nav">
              <li><a class="site-nav-item" href="#governator">Home</a></li>
              <li><a class="site-nav-item" href="#install">Install</a></li>
              <li><a class="site-nav-item" href="#services">Adding services</a></li>
              <li><a class="site-nav-item" href="#watchdogs">Watchdogs</a></li>
              <li><a class="site-nav-item" href="#logging">Logging</a></li>
              <li><a class="site-nav-item" href="#command-line">Command Line</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container jumptarget" id="governator">
      {{ template "main" . }}
    </div><!-- /.container -->
    <div class="site-footer">
      <div style="text-align: center; margin-bottom: 15px;">
        {{ template "buttons.html" . }}
      </div>
      <p>&copy; 2014 <a href="http://rainycape.com">Rainy Cape</a></p>
    </div>
  </body>
</html>
