{{/*
  extends: base.html
  include: buttons.html
*/}}
{{ define "main" }}
<div class="site-header">
  <h1 class="site-title">Governator</h1>
  <p class="lead site-description">An effective process manager for UNIX systems.</p>
  {{ template "buttons.html" . }}
</div>

<div class="row">

  <div class="col-sm-12 site-main">
    <div class="site-post">
      <p>
        Governator is not designed as an init replacement. Instead, governator provides
        features which are intended to help running applications developed by yourself, like
        automatic restarts, watchdogs and logging. A typical use case is running web
        applications which need their own process. Note that governator itself should be started
        from init, like any other daemon.
      </p>
    </div>
    <div class="site-post jumptarget" id="install">
      <h2 class="site-post-title">Install</h2>
      <pre><code>curl -s http://governator.io/install.sh | sudo sh</code></pre>
      <p>or, if curl is not installed in your system:</p>
      <pre><code>wget -q http://governator.io/install.sh -O - | sudo sh</code></pre>
      <hr>
      <h3>Manual installation</h3>
      <p>Download the latest governator release from:</p>
      <pre><code>http://governator.io/get/releases/linux/x86_64/latest/governator</code></pre>
      <p>
        Then, move the binary to somewhere in your $PATH (/usr/local/bin is usually a good place)
        and add the governator daemon to your init sequence. Keep in mind that the daemon must be run
        as root. To start in daemon mode, use the <em>-D</em> command line flag (otherwise, governator
        will start in client mode and try to connect to the daemon).
      </p>
      <hr>
      <h3>Installation from source</h3>
      <p>Install <a href="https://golang.org/doc/install">Go</a> and then type:</p>
      <pre><code>go get github.com/rainycape/governator</code></pre>
      <p>
        This will produce a governator binary in $GOPATH/bin.
      </p>
    </div><!-- /.site-post -->

    <div class="site-post jumptarget" id="services">
      <h2 class="site-post-title">Adding services</h2>
      <p>
        Governator uses a very simple format for each service. Service files are stored in the <em>services</em>
        directory inside the main governator configuration directory (by default, /etc/governator so services
        are in /etc/governator/services). Each file contains a mandatory field and several optional fields.
      </p>
      <ul>
        <li>
          {{ config "command" "" }}
            <p>
              The only mandatory field. The command to execute, with any additional arguments. If might be either
              an absolute path or just the binary name. $PATH is searched for the binary in the latter case.
        </li>
        <li>
          {{ config "name" "service file name (e.g. /etc/governator/services/myservice defaults to \"myservice\")" }}
            <p>
              The service name used to control the process as well as the basename for its log files.
            </p>
        </li>
        <li>
            {{ config "dir" "directory which contains the service command (e.g. /home/www/web will run in /home/www)" }}
            <p>
              The working directory for the service.
            </p>
        </li>
        <li>
            {{ config "env" "none" }}
            <p>
              Environment variables to pass to the command, in the format <em>var1=value1, var2=value2, ...</em>. If any
              variable name or value contains spaces or the ',' character, it can be quoted with " or '.
            </p>
            <blockquote>
              Note for Go applications: If the environment variable <em>GOMAXPROCS</em> is not defined, governator will
              set it to the number of CPUs in the system, as reported by runtime.NumCPU() by Go.
            </blockquote>
        </li>
        <li>
            {{ config "start" "true" }}
            <p>
              Wheter to automatically start the service when governator starts.
            </p>
        </li>
        <li>
            {{ config "user" "owner of the binary declared in command" }}
            <p>
              The primary user id of the process.
            </p>
        </li>
        <li>
            {{ config "group" "group owner of the binary declared in command" }}
            <p>
              The primary group id of the process.
            </p>
        </li>
        <li>
            {{ config "priority" "1000" }}
            <p>
              The priority for the service, relative to other services. Services with lower priority are
              started first and stopped last.
            </p>
        </li>
        <li>
            {{ config "log" "file" }}
            <p>
              The logging system to use for this service. See the <a href="#logging">Logging</a> section
              for more information.
            </p>
        <li>
            {{ config "watchdog" "none" }}
            <p>
              Watchdog to check that the service is responsive. This allows restarting a service not only
              when it exits unexpectecly, but also when it gets stuck. The watchdog is ran periodically and if
              it returns an error, the service is restarted. For more information about the available watchdogs
              and its syntax, check the <a href="#watchdogs">Watchdogs</a> section.
            </p>
        </li>
        <li>
            {{ config "watchdog_interval" "300" }}
            <p>
              The number of seconds between each watchdog check.
            </p>
        </li>
        <li>
            {{ config "max_open_files" "0" }}
            <p>
              The maximum number of files that can be opened by the service. If this value is not greater
              than zero, the maximum number of open files is not altered and it inherits the default
              system value.
            </p>
        </li>
      </ul>
      <hr>
      <p>A service file can be as simple as just a command:</p>
      <pre><code># /etc/governator/services/myservice
command = /home/myuser/mycommand</code></pre>

      <p>Or something more complex, like:</p>
      <pre><code># /etc/governator/services/mycomplexservice
command = /home/www/webapp --port=8888
dir = /
environment = PATH=/usr/bin/:/usr/sbin;VARIABLE=value
user = nobody
group = nogroup
priority = 100
log = syslog
watchdog = get http://127.0.0.1:8888
watchdog_interval = 60</code></pre>
      <p>
        Governator <strong>monitors its services directory and reloads service files automatically</strong>,
        so modifying, adding or removing a service file causes the service to be restarted, started or stopped,
        respectivelly, without restarting governator. Note that overwriting a file with the same contents does
        not cause a service restart, because governator checks if the configuration actually changed before
        reloading the service.
      </p>
    </div><!-- /.site-post -->
    <div class="site-post jumptarget" id="watchdogs">
      <h2 class="site-post-title">Watchdogs</h2>
      <p>
        Watchdogs allow governator to detect when a service has got stuck and restart it. They're completely
        optional, but they are very useful in a lot of situations.
      </p>
      <p>Governator supports the following types of watchdogs:</p>
      <ul>
       <li>
        <h3>run</h3>
        <p>
          The <em>run</em> watchdog executes a command and, if it exists with non-zero status, it considers
          it an error. Additional arguments for the watchdog command might also be provided.
        </p>
        <pre><code>watchdog = myappcheck --port=5000</code></pre>
       </li>
       <li>
        <h3>connect</h3>
        <p>
          The <em>connect</em> watchdog connects to the given host and port using TCP. If the connection can't be
          correctly established, it reports an error. The host might be an IP or a hostname. This watchdog also
          allows a second parameter, to specify the timeout. The default timeout is 30 seconds.
        </p>
        <pre><code>watchdog = connect tcp://127.0.0.1:3000</code></pre>
        <pre><code>watchdog = connect tcp://myserver.example.com:12345 10 # 10 seconds timeout</code></pre>
       </li>
       <li>
        <h3>get</h3>
        <p>
          The <em>get</em> watchdog requests the given URL using GET. If the request fails or if the server returns
          a non-200 status code, it reports an error. This watchdog also allows a second parameter, to specify the
          timeout. The default timeout is 30 seconds.
        </p>
        <pre><code>watchdog = get http://127.0.0.1:8888 # default timeout</code></pre>
        <pre><code>watchdog = get http://www.example.com 10 # 10 seconds timeout</code></pre>
       </li>
      </ul>
    </div><!-- /.site-post -->
    <div class="site-post jumptarget" id="logging">
      <h2 class="site-post-title">Logging</h2>
      <p>
        Governator generates a log for each service, combining stdout, stderr and any events related
        to that service. The <em>log</em> configuration directive allows setting where the log for each
        service is stored. The following options are available:
      </p>
      <ul>
        <li>
          <h3>file</h3>
          <p>
            The <em>file</em> logger writes the log for the service to a log file, located in
            <em>/var/log/governator/&lt;service-name&gt;</em>. Its syntax is:
          </p>
          <pre><code>log = file [rotate-size] [rotate-count]</code></pre>
          <p>
            <em>rotate-size</em> and <em>rotate-count</em> are optional. If they are not provided,
            they default to 512MiB and 10, respectivelly. When the log reaches rotate-size it will
            be rotated and compressed with gzip, generating /var/log/governator/&lt;service-name&gt;.1.log.
            As many as <em>rotate-count</em> log files will be kept. When the maximum number is reached, the
            oldest file will be deleted when rotating the log.
          </p>
          <p>
            <em>rotate-size</em> allows the following suffixes:
          </p>
          <pre><code>K, KB: kilobytes
M, MB: megabytes
G, GB: gigabytes
T, TB: terabytes</code></pre>
          <p>These are all valid examples:</p>
          <pre><code>log = file 1.5G 20 # rotate after 1.5 GiB, keep 20 files</code></pre>
          <pre><code>log = file 300MB # rotate after 300MB, keep 10 files</code></pre>
        </li>
        <li>
          <h3>syslog</h3>
          <p>The <em>syslog</em> logger sends the log to a syslog daemon, either local or remote. Its syntax is:</p>
          <pre><code>log = syslog [remote-url]</code></pre>
          <p>
            If no remote URL is provided, logs will be sent to the syslog daemon running in the local host. If the URL
            is provided, it must have the following syntax:
          </p>
          <pre><code>[tcp|udp|unix|unixgram]://host[:port]</code></pre>
          <p>
            All messages will be sent with the <em>LOG_LOCAL0</em> facility. Severity will vary depending on the type
            of message.
          </p>
          <p>These are all valid examples:</p>
          <pre><code>log = syslog # log to the local syslog daemon</code></pre>
          <pre><code>log = syslog tcp://logserver.example.com # send logs to syslog at logserver.example.com</code></pre>
        </li>
      </ul>
    </div><!-- /.site-post -->
    <div class="site-post jumptarget" id="command-line">
      <h2 class="site-post-title">Command Line</h2>
      <p>
        To start governator as a client, start it as root and with no arguments. The server must be already running before
        starting the client. You should see something like this:
      </p>
      <pre><code>$ governator 
governator interactive shell
Type exit or press control+d to end
Type help to show available commands

SERVICE      STATUS                               
myservice    RUNNING since 2014-02-17 13:02:07    

governator&gt;</code></pre> 
      <p>
        From the interactive console, you can use the <em>help</em> command to list all available commands. Currently, they are:
      </p>
      <pre><code>start &lt;service|all&gt;   : starts a service or all services, in priority order
stop &lt;service|all&gt;    : stops a service or all services, in priority order
restart &lt;service|all&gt; : restart a service or all services, in priority order
list                  : list registered services
exit                  : close the shell
help                  : show help</code></pre>
      <p>
        Additionally, governator also accepts any of these arguments directly from the command line, e.g.:
      </p>
      <pre><code>governator list</pre></code>
      <pre><code>governator start myservice # start myservice if it's not already running</pre></code>
      <p>
        When the command is provided in the command line, governator will exit with code 0 in case of
        success and code 1 in case of failure. Note that stopping an already stopped service or starting
        a service which is already running is not considered an error.
      </p>
      <hr>
      <h3>Allowing non-root users to control services</h3>
      <p>
        Governator uses a unix socket to communicate between the server and the client. By default,
        the socket is owned by root and unprivileged users can't write to it. However,
        if the group <em>governator</em> is present, the daemon will set the ownership of the socket
        to that group and it will set the permissions so users in that group can communicate with
        the server.
      </p>
      <p>Create the governator group:</p>
      <pre><code>sudo groupadd governator # restart governator if it's already running</code></pre>
      <p>Add a user to the governator group:</p>
      <pre><code>sudo usermod -a -G governator some-user</code></pre>
      <blockquote>
        Note that any allowed user can stop and start any service, but can't add new ones.
        Use this feature with care.
      </blockquote>
    </div><!-- /.site-post -->
  </div><!-- /.site-main -->
</div><!-- /.row -->
{{ end }}
